.hometown-background{
    background: url('../image/hometown.jpg')  no-repeat center;
    background-size: cover;
    position: relative;
    min-width: 98vw;
    min-height: 100vh;
}

.hometown-container{
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 10vw 10vh;
    min-height: 100vh;
    text-align: center;
    left: 0;
    position: absolute;
    top: 0;
}

.hometown-box{
    width: 100%;
    background: rgba(55, 71, 79, 0.6);
    position: relative;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 20px 2px var(--shadow-color-dark);    
    transition: all 0.5s ease-in 0s;
}

.hometown-box:hover{
    transform: scale(1.1);
    box-shadow: -1px 9px 40px -12px var(--shadow-color-dark);
}

.hometown-title-text h1{
    color: var(--text-color);
    font-size: 39px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.hometown-title-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.line-before{
    height: 2px;
    background-color: var(--text-color);
    width: 50px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    transition: all 0.5s ease 0s;
}

.line-after{
    height: 2px;
    background-color: var(--text-color);
    width: 50px;
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
    transition: all 0.5s ease 0s;
}

.line-after{

}

.hometown-description-text p{
    color: var(--color-primary-lighter);
    font-size: 16px;
    text-align: justify;
    font-weight: 500;
}

.hometown-description-text{
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    flex-wrap: wrap;
}

.description-text{
    padding: 10px;
    flex-basis: 33%;
}