#particles-js {
    min-width: 98vw;
    min-height: 100vh;
    background-color: var(--color-primary-dark);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

.about-me-wrapper{
    min-width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 6vw 10vh;
    min-height: 100vh;
    text-align: center;
    left: 0;
    position: absolute;
    top: 0;
}

.profile-section{
}

.profile-section .profile-title-text{
    margin: 5px;
}

.profile-section .profile-title-text h1{
    color: var(--color-primary-light);
    font-size: 39px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.profile-section .profile-description-text p{
    color: var(--text-color);
    font-size: 19px;
    font-weight: 400;
}

.profile-section .profile-description-text{
    margin: 40px 50px;
}

.icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.icon-group{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.icon-box{
    background-color: var(--text-color);
    padding: 7px;
    border-radius: 5px;
    margin: 5px 25px;
}

.icon-name p{
    color: var(--color-primary-lighter);
    font-size: 17px;
    font-weight: 400;
}

.icon-box i{
    font-size: 40px;
}

.project-section{
    min-width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 10vw;
    min-height: 100vh;
    background-color: var(--color-primary-light);
    text-align: center;
}

.project-section .project-title-text{
    margin: 5px;
}

.project-section .project-title-text h1{
    color: var(--color-primary);
    font-size: 39px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.project-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card{
    display: flex;
    flex-direction: row;
    margin: 10px;
    position: relative;
}

.project-item{
    display: flex;
    flex-direction: row;
}

.project-item-container{
    padding: 1.8rem;
    text-align: left;
    transition: all 0.75s ease 0s;
    width: calc(25vw);
    min-height: calc(25vw);
    overflow: hidden;
    background-color: var(--color-primary);
    min-width: 250px;
}

.project-item-link{
    display: flex;
    justify-content: flex-end;
}

.project-item-link-container{
    cursor: pointer;
    background-color: var(--color-primary-lighter);
    border-radius: 50%;height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-item-title{
    font-size: 1.75rem;
    color: var(--color-primary-lighter);
    margin-bottom: 0.75rem;
}

.project-item-description{
    color: var(--text-color);
    font-size: 1vw;
}

.project-transition-bottom{
    transition: width 0.25s ease 0s;
    height: 1px; width: 0px;
    background-color: var(--color-primary-lighter);
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.project-transition-right{
    transition: height 0.25s ease 0s;
    width: 1px;
    height: 0px;
    background-color: var(--color-primary-lighter);
    position: absolute;
    top: 0px;
    right: 0px;
}

.project-transition-left{
    transition: height 0.25s ease 0s;
    width: 1px;
    height: 0px;
    background-color: var(--color-primary-lighter);
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.project-transition-top{
    transition: width 0.25s ease 0s;
    height: 1px;
    width: 0px;
    background-color: var(--color-primary-lighter);
    position: absolute;
    top: 0px; left: 0px;
}